.orange-color {
    color: #f65314 !important;
}

.title-post{
    color: #f65314;
    text-decoration: none;
}

.text-muted {
    color: #90a4ae;
}

a.title-post:hover,
a.title-post:focus {
  color: #f65314;
  text-decoration: underline;
}

.title-left{
    float: left;
}

.table-full-width {
  width: 100% !important;
}

.padding-top-10 {
    padding-top: 10px;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}