.menuElement {
	margin-left: 10px;
	display: block;
}
.menuElement a {
	text-decoration: none;
}
.menuElement a:hover {
	font-weight: bold;
}
.menuHeaderClosed {
	background: url(images/rightArrow.gif) no-repeat;
	padding-left: 12px;
	background-position: 0 0;
}
.menuHeaderOpened {
	background: url(images/downArrow.gif) no-repeat;
	padding-left: 12px;
	background-position: 0 0;
}
.itemHeader {
	padding-left: 12px;
}
.menuBody {
}
