.menuElement {
	margin-left: 10px;
	display: block;
}
.menuElement a {
	text-decoration: none;
}
.menuElement a:hover {
	font-weight: bold;
}
.menuHeaderClosed {
	background: url(images/plus_alone.gif) no-repeat;
	padding-left: 17px;
	background-position: 0 0;
}
.menuHeaderOpened {
	background: url(images/minus_alone.gif) no-repeat;
	padding-left: 17px;
	background-position: 0 0;
}
.itemHeader, .itemBottomHeader {
	padding-left: 17px;
}
.menuBody {
}
