.menuElement {
	margin-left: 10px;
	display: block;
}
.menuElement a {
	text-decoration: none;
}
.menuElement a:hover {
	font-weight: bold;
}
.menuHeaderClosed {
	background: url(../img/images/folderClosed.gif) no-repeat;
	padding: 2px 0 2px 20px;
	background-position: 0 0;
	line-height: 18px;
}
.menuHeaderOpened {
	background: url(../img/images/folderOpened.gif) no-repeat;
	padding: 2px 0 2px 20px;
	background-position: 0 0;
	line-height: 18px;
}
.itemHeader {
	background: url(../img/images/file.gif) no-repeat;
	padding: 2px 0 2px 20px;
	background-position: 0 0;
	line-height: 18px;
}
.menuBody {
}
